/* Dashboard.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
  }
  
  .logo {
    height: 50px; /* Set the height of your logo */
    
  }
  
  .navbar {
    background-color: #000;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .content-container {
    display: flex;
    margin: 20px;
  }
  
  .book-image {
    flex: 1;
    background-color: #f2f2f2; /* Set the background color of the book image container */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .book-image img {
    max-width: 100%;
    max-height: 100%;
  }
  .dik {
    width: 100%;
    padding: 20px;
    margin-bottom: 16px;
    font-size: 16px;
  }
  
  .login-container {
    flex: 1;
    background-color: #f2f2f2; /* Set the background color of the login container */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .login-form {
    text-align: left;
    width: 100%;
    max-width: 400px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 8px;
    color: #333; /* Set the text color of labels in the login form */
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    font-size: 16px;
  }
 
  
  .login-form button {
    background-color: blue;
    color: white;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    width: 100%;
  }

 
  /* Dashboard.css */

.logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-right: 10px; /* Adjust the margin as needed for spacing between logo and text */
  }
  
  
  
  .login-logo {
    display: block;
    margin: 0 auto; /* Center the logo horizontally */
  }
  /* Dashboard.css */

.logo-container {
    display: flex;
    align-items: center;
  }
  
  